<!DOCTYPE html>

<html>
<head>
    <title>
        首页，我的beego博客
    </title>
    {{/*<link rel="short icon" href="/static/img/favicon.png">*/}}
    {{/*<link rel="stylesheet" href="text/css" href="/static/css/node_modules/bootstrap/dist/css/bootstrap.min.css">*/}}
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">我的博客</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="/category">分类</a></li>
                <li><a href="/topic">文章</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>我的第一篇博客</h1>
            <h6 class="text-muted">文章发表于 2018年 x月x日 xx:xx 共有 100次 浏览， 200个评论</h6>
            <p>
                大家好，这是我的第一篇博客，多谢观看。
            </p>
        </div>

    </div>


</body>



</html>